*{padding: 0;
margin: 0;
list-style: none;
border: 0;
outline: 0;
box-sizing: border-box;}
.screen{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.screen.editable{
  cursor: crosshair;
}
.Leave-Comment-Text{
  background: black;
color: white;
padding: 5px 10px;
font-size: 14px;

}

.note-container{
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.note-box{
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0,  .4);
  z-index: 4;
  transform: translateX(-50%) translateY(40px);
  -webkit-transform: translateX(-50%) translateY(40px);
  -moz-transform: translateX(-50%) translateY(40px);
  -ms-transform: translateX(-50%) translateY(40px);
  -o-transform: translateX(-50%) translateY(40px);
  width: 300px;
  select{
  appearance: none;
  border: 1px solid #666;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-radius:5px ;
  -webkit-border-radius:5px ;
  -moz-border-radius:5px ;
  -ms-border-radius:5px ;
  -o-border-radius:5px ;
  color: #fff;
  font-size: 16px;
  font-weight: 500px;
}

textarea{
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  resize: none;
}
textarea:focus{
 
  border: 3px solid black;
}
button{
  width: 100%;
  height: 40px;
  font-size: 15;
  background: black;
  color: white;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
button:disabled{
  background: white;
}
}
.note-box-number{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-150%);
  -webkit-transform: translateX(-50%) translateY(-150%);
  -moz-transform: translateX(-50%) translateY(-150%);
  -ms-transform: translateX(-50%) translateY(-150%);
  -o-transform: translateX(-50%) translateY(-150%);
  width: 40px;
  height: 40px;
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  background: var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
}